{% extends 'base.html' %}

{% block content %}

  <div id="container1" style="width: 100%;">
    <canvas id="otkaz" data-url="{% url 'otkaz' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $otkazChart = $("#otkaz");
      $.ajax({
        url: $otkazChart.data("url"),
        success: function (data) {

          var ctx = $otkazChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Запреты от военкоматов',
                backgroundColor: 'rgb(255, 99, 132)',
                data: data.voenk

              },
			  {
                label: 'Отказы во въезде',
                backgroundColor: 'rgb(255, 205, 86)',
                data: data.country

              },
			  {
                label: 'Отказы в выезде иностранным государством',
                backgroundColor: '#00b8ff',
                data: data.exit

              },
			  {
                label: 'Другое',
                backgroundColor: '#00ff9f',
                data: data.other
				}
			  ]          
            },
            options: {
				scales: {
					xAxes: [{
						stacked: true
						}],
					yAxes: [{
						stacked: true
						}]
					},
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Количество отказов в пересечении границы'
              }
            }
          });

        }
      });

    });

  </script>
  
  <div id="container2" style="width: 75%;">
    <canvas id="sluzhba" data-url="{% url 'sluzhba' %}"></canvas>
  </div>
  <script>

    $(function () {

      var $sluzhbaChart = $("#sluzhba");
      $.ajax({
        url: $sluzhbaChart.data("url"),
        success: function (data) {

          var ctx = $sluzhbaChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: data.labels,
              datasets: [{
                data: data.data,
				backgroundColor: [
					'rgb(255, 205, 86)',
					'rgb(0, 255, 127)',
					'rgb(54, 162, 235)',
					'rgb(255, 99, 132)'
						],
              }
			  ]          
            },
            options: {
				scales: {
					},
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Отношение к службе тех, кому отказано в пересечении границы'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}