{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Категоризация текста</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Длинный текст</h1>
            <p>Здесь можно вывести длинный текст, который требует категоризации.</p>
        </div>
        <div class="right">
            <h1>Форма для категоризации</h1>
            <form id="category-form">
			<div class="form-group">
                    <label for="case-type">Тип случая:</label>
                    <select id="case-type" name="case-type" required>
                        <option value="">Выберите тип случая</option>
                        <option value="success">Удачный</option>
                        <option value="fail">Неудачный</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age">Возраст:</label>
                    <input type="number" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="sex">Пол:</label>
                    <select id="sex" name="sex" required>
                        <option value="">Выберите пол</option>
                        <option value="М">Мужской</option>
                        <option value="Ж">Женский</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cause">Причина отказа:</label>
                    <input type="text" id="cause" name="cause" required>
					<script>
						$("#cause").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="army-relations">Отношение к военной службе:</label>
                    <input type="text" id="army-relations" name="army-relations" required>
					<script>
						$("#army-relations").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="vus">Военно-учётная специальность:</label>
                    <input type="text" id="vus" name="vus" required>
					<script>
						$("vus").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="army-type">Вид войск:</label>
                    <input type="text" id="army-type" name="army-type" required>
					<script>
						$("army-type").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="army-sec-type">Род войск:</label>
                    <input type="text" id="army-sec-type" name="army-sec-type" required>
					<script>
						$("army-sec-type").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
				
                <div class="form-group">
                    <label for="army-other">Другая информация о военной службе:</label>
                    <input type="text" id="army-other" name="army-other" required>					
					<script>
						$("army-other").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="country">Страна въезда:</label>
                    <input type="text" id="country" name="country" required>					
					<script>
						$("country").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="kpp">КПП Выезда:</label>
                    <input type="text" id="kpp" name="kpp" required>					
					<script>
						$("kpp").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="yService">Годы службы:</label>
                    <input type="text" id="yService" name="yService" required>										
					<script>
						$("yService").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
                </div>
                <div class="form-group">
                    <label for="voenk-region">Военкомат (регион или город федерального значения):</label>
					<input type="text" id="voenk-region" name="voenk-region" required>														
					<script>
						$("voenk-region").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
				</div>
				<div class="form-group">
					<label for="voenk-city">Военкомат (город(а)/городской округ/район(ы) области):</label>
					<input type="text" id="voenk-city" name="voenk-city" required>														
					<script>
						$("voenk-city").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
				</div>
				<div class="form-group">
					<label for="voenk-district">Военкомат (район(ы) города):</label>
					<input type="text" id="voenk-district" name="voenk-district" required>																	
					<script>
						$("voenk-district").autocomplete({
						  source: ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4", "Элемент 5"],
						  });
					</script>
				</div>
				<div class="form-group">
					<label for="kategoryH">Категория годности:</label>
					<input type="text" id="fitness-category" name="fitness-category" required>
				</div>
				<div class="form-group">
					<label for="kategoryZ">Категория запаса:</label>
					<input type="text" id="reserve-category" name="reserve-category" required>
				</div>
				<div class="form-group">
					<label for="date">Дата:</label>
					<input type="text" id="date" name="date" required>
				</div>
				<div class="form-buttons">
					<button type="add">Добавить</button>
				</div>
				<div class="form-buttons">
					<button type="add-more">Добавить еще одну запись</button>
				</div>
				<div class="form-buttons">
					<button type="pass" id="skip-button">Пропустить</button>
				</div>
				<div class="form-buttons">
					<button type="vbros">Вброс</button>
				</div>
				<div class="form-buttons">
					<button type="delete">Удалить это сообщение из БД</button>
				</div>
				<div class="form-buttons">
					<button type="show-all">Показать сообщение целиком</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>