h1 {
	color: #111;
	font-family: ‘Helvetica Neue’, sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	}

#grid { 
  display: grid;
  grid-template-areas: 
    "mes_text casetype"
	"mes_text age"
	"mes_text sex"
	"mes_text cause"
	"mes_text army_relations"
	"mes_text vus"
	"mes_text army_type"
	"mes_text army_sec_type"
	"mes_text army_other"
	"mes_text country"
	"mes_text kpp"
	"mes_text yService"
	"mes_text voenk_region"
	"mes_text voenk_city"
	"mes_text voenk_district"
	"mes_text kategory_h"
	"mes_text kategory_z"
    "mes_text date"
	"mes_text btn_add"
	"mes_text btn_add_next"
	"mes_text btn_vbros";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  margin: 0;
}

#grid > div {
  font-size: 100%;
  padding: .5em;
  text-align: center;
  font-family: ‘Helvetica Neue’, sans-serif;
}

#page_mes_text {
  grid-area: mes_text;
  height: 100vh
}
#page_casetype {
  grid-area: casetype;
}
#page_age {
  grid-area: age;
}
#page_sex {
  grid-area: sex;
}
#page_cause { 
  grid-area: cause;      
  }
#page_army_relations{ 
  grid-area: army_relations; 
  }
#page_vus { 
  grid-area: vus; 
  }
#page_army_type { 
  grid-area: army_type; 
  }
#page_army_sec_type { 
  grid-area: army_sec_type; 
  }
#page_army_other { 
  grid-area: army_other; 
  }
#page_country { 
  grid-area: country; 
  }
#page_kpp {
  grid-area: kpp;
}
#page_yService {
  grid-area: yService;
}
#page_voenk_region { 
  grid-area: voenk_region;      
  }
#page_voenk_city { 
  grid-area: voenk_city;      
  }
#page_voenk_district { 
  grid-area: voenk_district;      
  }
#page_kategory_h { 
  grid-area: kategory_h; 
  }
#page_kategory_z { 
  grid-area: kategory_z; 
  }
#page_date { 
  grid-area: date; 
  }
#page_btn_add { 
  grid-area: btn_add; 
  }
#page_btn_add_next { 
  grid-area: btn_add_next; 
  }
#page_btn_vbros { 
  grid-area: btn_vbros; 
  }
	

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}

.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}